@charset "utf-8";

/* 1. 풀페이지 오류 방지: html, body에서 스크롤바 강제 설정 제거 */
html, body {
    width: 100%;
    height: 100%;
    /* overflow-y: scroll;  <-- 이 줄 삭제함 (중요!) */
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, q, abbr, address, cite, code, img,
ul, ol, li, dl, dt, dd, a, sub, sup, strong, em,
header, nav, section, article, footer, aside,
form, fieldset, legend, label, video,
table, caption, thead, tbody, tfoot, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: none;
}

header, nav, section, article, footer, aside { display: block; }
button, label { cursor: pointer; }
table { border-collapse: collapse; }
textarea { resize: none; }

a:link, a:visited, a:hover, a:active { color: black; text-decoration: none; }

body {
    color: black;
    font-size: 1em;
    font-family: 돋움, dotum, 굴림, gulim;
    line-height: 1.4;
}

hr, legend, caption { display: none; }
ul, ol, li { list-style: none; }
q { quotes: none; }
address, em { font-style: normal; font-weight: 400; }

.text-center { height: 100px; line-height: 100px; text-align: center; }

/* 2. 접근성 수정: display:none 대신 화면 밖으로 밀어내는 방식 사용 */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 3. 옛날 IE 코드(*zoom) 삭제 */
.clearfix:after { display: block; clear: both; content: ''; }