@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:300,500,600&display=swap');

/* default */
body{font-family:'Noto Serif KR', serif;}
#wrap{margin:0 auto; width:100%;}
.cont{position:relative; margin:0 auto; min-width:1200px; min-height: calc(100vh - 100px); display:flex; flex-direction:column; justify-content:center; align-items:center;}


/* header for index.html (default) */
header{position:fixed; top:0; left:0; width:100%; height:100px; background-color:#1a1a1a; z-index:1000;}
header h1{position:absolute; left:50px; top:50%; transform:translateY(-50%); font-size:40px; display:block;}
header h1 a{color:#FFFF00 !important; text-decoration:none;}
header nav{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
header nav ul{list-style:none; padding:0; margin:0; display:flex; flex-direction:row;}
header nav ul li{display:inline-block; margin-left:20px; margin-bottom:0;}
header nav ul li a{color:#FFFF00 !important; font-size:18px; text-decoration:none; display:block; padding:5px 10px; transition:background-color 0.3s ease;}
header nav ul li a:hover{background-color:rgba(255,255,255,0.2);}





/* section - home*/
.cont_home{position:relative; background-color:#1a1a1a; color:#fff;}
.cont_home h2{padding-top:85px; font-weight:600; font-size:78px; text-align:center; color:#fff;}
.cont_home h2:after{content:'-'; display:block; font-size:33px; margin:40px auto; color:#fff;}
.cont_home h3{font-size:33px; line-height:1.7; font-weight:300; letter-spacing:-1px; text-align:center; color:#fff;}
.cont_home p{font-weight:normal; font-size:15px; text-align:center; color:#fff;}
.cont_home .writer{bottom:107px; text-align:center; margin:0 auto; display:block; width:100%; transform:rotate(90deg);}
.cont_home .title{top:50px; text-align:center; margin:0 auto; display:block; width:100%;}
.cont_home .img_bg{position:absolute; left:50%; bottom:130px; width:288px; height:288px; background-color:rgba(255,255,255,0.3); transform:translateX(-50%);}
.cont_home .img{position:absolute; left:50%; top:100px; width:425px; height:600px; text-indent:-9999px; background-image: url(../images/intro_img_new.jpg); transform:translateX(-50%);}

/* section - 비틀즈의 역사*/
.cont_0{width:100%; background-color:#333;}
.cont_0 .bg{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:1200px; height:800px; background-color:#fff;}
.cont_0 .bg h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
.cont_0 .bg .slides{position:relative; overflow:hidden; margin-left:50px; width:1100px; height:580px;}
.cont_0 .bg .slides ul{position:absolute; left:0; top:0; width:3300px; height:580px;}
.cont_0 .bg .slides ul li{float:left; width:1100px; height:580px;}
.cont_0 .bg .slides ul li h3{float:left; margin-right:50px; color:#283e50; font-size:38px; font-weight:500;}
.cont_0 .bg .slides ul li p{float:left; color:#3b3b3b; font-size:18px; line-height:1.6;}
.cont_0 .bg .slides ul li .img{float:left; margin-top:115px; width:1100px; height:325px; text-indent:-9999px; background-size: contain; background-repeat: no-repeat; background-position: center;}
.cont_0 .bg .slides ul li .txt{clear:both; height:30px; line-height:30px; color:#3b3b3b; font-size:15px; text-align:center;}

.cont_0 .bg .prev{display:block; position:absolute; left:-57px; top:50%; margin-top:-23px; width:27px; height:47px; text-indent:-9999px; background-image:url(../images/sprite_ico.png); background-position:-78px 0;}
.cont_0 .bg .prev:hover,.cont_0 .bg .prev:focus{background-position:-41px 0;}
.cont_0 .bg .next{display:block; position:absolute; right:-57px; top:50%; margin-top:-23px; width:27px; height:47px; text-indent:-9999px; background-image:url(../images/sprite_ico.png); background-position:-150px 0;}
.cont_0 .bg .next:hover,.cont_0 .bg .next:focus{background-position:-113px 0;}

/* section - 아이코닉 앨범*/
.cont_1{background-color:#4a4a4a;}
.cont_1 .bg{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:1200px; height:800px; background-color: #fff;}
.cont_1 .bg h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
.cont_1 .bg h3{margin:0 0 20px 50px; color:#283e50; font-size:38px; font-weight:500;}
.cont_1 .bg p{margin:0 0 20px 50px; color:#3b3b3b; font-size:18px; line-height:1.6;}

.cont_1 .bg .screen{position:absolute; right:50px; top:50px; width:445px; height:485px; text-indent:-9999px; background-image:url(../images/content_2_big_1.jpg); background-size: cover;}
.cont_1 .bg .txt{position:absolute; right:50px; top:540px; color:#3b3b3b; font-size:15px;}
.cont_1 .bg ul{margin:175px auto; width:1100px;}

.cont_1 .bg ul li{overflow:hidden; float:left; margin-left:10px; width:212px; border:1px solid #ededed; box-sizing:border-box; background-size: cover;}
.cont_1 .bg ul li:first-child{margin-left:0; background-image:url(../images/content_2_thumb_1.jpg);}
.cont_1 .bg ul li:nth-child(2){background-image:url(../images/content_2_thumb_2.jpg);}
.cont_1 .bg ul li:nth-child(3){background-image:url(../images/content_2_thumb_3.jpg);}
.cont_1 .bg ul li:nth-child(4){background-image:url(../images/content_2_thumb_4.jpg);}
.cont_1 .bg ul li:nth-child(5){background-image:url(../images/content_2_thumb_5.jpg);}
.cont_1 .bg ul li a{position:relative; display:block; height:140px; text-indent:-9999px; transition:all 0.4s;}
.cont_1 .bg ul li a:after{content:''; display:block; position:absolute; left:0; top:0; width:210px; height:140px; background-color:rgba(0,0,0,0.5); opacity:0; transition:all 0.4s;}
.cont_1 .bg ul li a:hover:after,
.cont_1 .bg ul li a:focus:after,
.cont_1 .bg ul li.on a:after{opacity:0.6;}

/* section - 전설적인 4인조*/
.cont_2{background-color:#666;}
.cont_2 .bg{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:1200px; height:800px; background-color: #fff;}
.cont_2 .bg h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
.cont_2 .bg h3{margin:0 0 20px 50px; color:#283e50; font-size:38px; font-weight:500;}
.cont_2 .bg p{margin:0 0 20px 50px; color:#3b3b3b; font-size:18px; line-height:1.6;}

.cont_2 .bg .frame{position:absolute; right:50px; top:50px; width:550px; height:700px; background-image:url(../images/content_3_bg.jpg); background-repeat:no-repeat; background-position:20px 0;}
.cont_2 .bg .frame .frame_img{position:relative; top:76px; left:97px; overflow:hidden; width:355px; height:507px; }
.cont_2 .bg .frame .frame_img ul{position:absolute; width:1775px; height:507px; }
.cont_2 .bg .frame .frame_img ul li{float:left; width:355px; height:507px;}
.cont_2 .bg .frame .frame_img ul li:nth-child(1){background-image:url(../images/content_3_img_1.jpg);}
.cont_2 .bg .frame .frame_img ul li:nth-child(2){background-image:url(../images/content_3_img_2.jpg);}
.cont_2 .bg .frame .frame_img ul li:nth-child(3){background-image:url(../images/content_3_img_3.jpg);}
.cont_2 .bg .frame .frame_img ul li:nth-child(4){background-image:url(../images/content_3_img_4.jpg);}
.cont_2 .bg .frame .frame_img ul li a{display:block; width:355px; height:507px; text-indent:-9999px; cursor:default;}
.cont_2 .bg .frame .txt{position:absolute; bottom:0px; left:50%; margin-left:-275px; width:550px; color:#3b3b3b; font-size:15px; letter-spacing:-1px; text-align:center;}

.cont_2 .bg .prev{display:block; position:absolute; left:-57px; top:50%; margin-top:-23px; width:27px; height:47px; text-indent:-9999px; background-image:url(../images/sprite_ico.png); background-position:-78px 0;}
.cont_2 .bg .prev:hover,.cont_2 .bg .prev:focus{background-position:-41px 0;}
.cont_2 .bg .next{display:block; position:absolute; right:-57px; top:50%; margin-top:-23px; width:27px; height:47px; text-indent:-9999px; background-image:url(../images/sprite_ico.png); background-position:-150px 0;}
.cont_2 .bg .next:hover,.cont_2 .bg .next:focus{background-position:-113px 0;}

/* section - 유명한 노래들*/
.cont_3{background-color:#8a8a8a;}
.cont_3 .bg{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:1200px; height:800px; background-color: #fff;}
.cont_3 .bg h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
.cont_3 .bg h3{margin:0 0 20px 50px; color:#283e50; font-size:38px; font-weight:500;}
.cont_3 .bg p{margin:0 0 20px 50px; color:#3b3b3b; font-size:18px; line-height:1.6;}

.cont_3 .bg .gallery{position:absolute; left:50px; bottom:40px; margin:0 auto; width:1100px;}
.cont_3 .bg .gallery ul li{position:relative; float:left; margin-left:22px; width:352px; background-repeat:no-repeat; background-size: cover;}
.cont_3 .bg .gallery ul li:first-child{margin-left:0; background-image:url(../images/content_4_thumb_1.jpg);}
.cont_3 .bg .gallery ul li:nth-child(2){background-image:url(../images/content_4_thumb_2.jpg);}
.cont_3 .bg .gallery ul li:nth-child(3){background-image:url(../images/content_4_thumb_3.jpg);}
.cont_3 .bg .gallery ul li a{display:block; height:420px;}
.cont_3 .bg .gallery ul li a .more{display:block; position:absolute; bottom:40px; right:15px; z-index:100; width:25px; height:23px; text-indent:-9999px; background-image: url(../images/sprite_ico.png); background-position:-188px 0; transition:all 0.3s; opacity:0.6;}
.cont_3 .bg .gallery ul li a:hover .more{transform:scale(1.1); opacity:1;}                      
.cont_3 .bg .gallery ul li a .txt{position:absolute; left:50%; bottom:-20px; margin-left:-175px; height:30px; width:352px; line-height:30px; color:#3b3b3b; font-size:15px; letter-spacing:-1px; text-align:center;}
/* gall */
.cont_3 .bg .gall{display:none; position:fixed; z-index:300; left:0; top:0; bottom:0; right:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5);}
.cont_3 .bg .gall .gallcontent{position:fixed; left:50%; top:65%; margin:-446px 0 0 -550px; z-index:400; width:1100px; height:800px;}
.cont_3 .bg .gall .gallcontent a{display:block; width:1100px; height:800px; text-indent:-9999px;}

/* section - 그들의 유산*/
.cont_4{height:950px; background-color:#a2a2a2;}
.cont_4 .bg{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:1200px; height:800px; background-color: #fff;}
.cont_4 .bg h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
.cont_4 .bg h3{margin:0 0 20px 50px; color:#283e50; font-size:38px; font-weight:500;}
.cont_4 .bg p{margin:0 0 20px 50px; color:#3b3b3b; font-size:18px; line-height:1.6;}

.cont_4 .bg .screen{position:absolute; right:50px; top:340px; margin:0 auto; width:1100px; height:280px;
                            background-image:url(../images/content_5_big_1.jpg); text-indent:-9999px; background-size: cover;}
.cont_4 .bg .txt{position:absolute; right:50px; bottom:135px; color:#3b3b3b; font-size:15px; letter-spacing:-1px;}

.cont_4 .bg .thumb{position:absolute; right:50px; bottom:50px; margin:0 auto; width:1100px;}
.cont_4 .bg .thumb li{position:relative; float:left; margin-left:20px; width:260px; border:1px solid #ccc; box-sizing:border-box; background-size: cover;}
.cont_4 .bg .thumb li:first-child{margin-left:0; background-image:url(../images/content_5_thumb_1.jpg);}
.cont_4 .bg .thumb li:nth-child(2){background-image:url(../images/content_5_thumb_2.jpg);}
.cont_4 .bg .thumb li:nth-child(3){background-image:url(../images/content_5_thumb_3.jpg);}
.cont_4 .bg .thumb li:nth-child(4){background-image:url(../images/content_5_thumb_4.jpg);}
.cont_4 .bg .thumb li a{display:block; height:90px; text-indent:-9999px;}

.cont_4 .bg .thumb li a:after{content:''; display:block; position:absolute; left:0; top:0; width:258px; height:90px; background-color:rgba(0,0,0,0.5); opacity:0; transition:all 0.4s;}
.cont_4 .bg .thumb li a:hover:after,
.cont_4 .bg .thumb li a:focus:after,
.cont_4 .bg .thumb li.on a:after{opacity:0.6;}

/* footer */
.cont_5{height:950px; background-color:#3b3b3b;}
footer{width:100%; height:200px; margin:0 auto; min-width:1200px;}
footer address{line-height:2; text-align:center; font-size:17px; color:#fff;}

/* New page general styles */
.cont h2, .cont h3, .cont p, .cont div, .cont button, .cont label, .cont select{color:#fff;}
.cont .bg{background-color:#fff; padding:50px; position:relative; left:50%; top:50%; transform:translate(-50%, -50%); width:1000px; height:700px;} /* Changed to white background */
.cont{min-height:100vh; display:flex; flex-direction:column; justify-content:center; align-items:center;} /* Make sure content fills viewport */

/* Specific background for each new page to make them distinct */
body.quiz-page .cont{background-color:#4a4a4a;} /* Example color */
body.recommend-page .cont{background-color:#666;} /* Example color */
body.music-page .cont{background-color:#8a8a8a;} /* Example color */

/* Ensure quiz elements are visible */
.quiz-question { color: #333; margin-bottom: 15px;}
.quiz-answers label { color: #333; cursor:pointer; }
.quiz-answers input[type="radio"] { margin-right: 10px;}
#submit-quiz { background-color: #283e50; color: #fff; border: none; padding: 15px 30px; font-size: 16px; cursor: pointer; margin-top: 20px;}
#submit-quiz:hover{background-color:#3e5c77;}
#quiz-results { color: #333; margin-top: 20px; font-size: 22px; font-weight: bold; text-align: center;}

/* Ensure recommendation elements are visible */
#recommend-questions p { color: #333; margin-bottom: 15px;}
#mood { padding: 10px; font-size: 16px; margin-bottom: 20px; background-color: #fff; color: #3b3b3b; border-radius:5px;}
#recommend-btn { background-color: #283e50; color: #fff; border: none; padding: 15px 30px; font-size: 16px; cursor: pointer; margin-top: 20px;}
#recommend-btn:hover{background-color:#3e5c77;}
#recommend-result { margin-top: 30px; text-align: center;}
#recommend-result h3 { color: #333; font-size: 28px; margin-bottom: 10px;}
#recommend-result p { color: #333; font-size: 18px; margin-bottom: 20px;}

/* Ensure music player elements are visible */
.music-player h4 { color: #fff; font-size: 24px; margin-bottom: 15px;}

/* Style for embeds to ensure they are centered and responsive */
.music-container iframe, #recommend-result iframe {
    display: block;
    margin: 20px auto;
    max-width: 560px; /* Standard YouTube embed width */
    width: 100%;
    height: 315px; /* Standard YouTube embed height */
}
.music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.music-player {
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
}