@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:300,500,600&display=swap');

/* default */
body{font-family:'Noto Serif KR', serif;}
#wrap{margin:0 auto; width:100%;}
section>.cont{position:relative; margin:0 auto; height:950px; min-width:1200px;}

/* header */
header{position:fixed; right:30px; top:50%; z-index:200; margin-top:-70px; width:15px; height:140px;}
header>h1{display:none;}
header>nav>.gnb>li{margin-bottom:10px; width:15px; background-image:url(../images/sprite_ico.png);
                    background-position: -25px 0;}
header>nav>.gnb>li.on, header>nav>.gnb>li:hover, header>nav>.gnb>li:focus{background-position:0 0;}
header>nav>.gnb>li:last-child{margin-bottom:0;}
header>nav>.gnb>li>a{display:block; height:15px; text-indent:-9999px;}

/* section - home*/
section>.cont_home{position:relative; background-color:#476b91; color:#fff;}
section>.cont_home>h2{padding-top:85px; margin-left:130px; font-weight:600; font-size:78px;}
section>.cont_home>h2:after{content:'-'; display:block; font-size:33px; margin:40px 0;}
section>.cont_home>h3{margin:40px 0 0 130px; font-size:33px; line-height:1.7; font-weight:300; letter-spacing:-1px;}
section>.cont_home>p{font-weight:normal; font-size:15px;}
section>.cont_home>.writer{position:absolute; left:20px; bottom:107px; transform:rotate(90deg);}
section>.cont_home>.title{position:absolute; right:80px; top:50px;}
section>.cont_home>.img_bg{position:absolute; right:380px; bottom:130px; width:288px; height:288px; background-color:rgba(255,255,255,0.3);}
section>.cont_home>.img{position:absolute; right:80px; top:100px; width:425px; height:600px; text-indent:-9999px; background-image: url(../images/intro_img.jpg);}

/* section - 색과 역사*/
section>.cont_0{width:100%; background-color:#6284a7;}
section>.cont_0>.bg{position:absolute; left:50%; top:50%; margin:-400px 0 0 -600px; width:1200px; height:800px; background-color:#fff;}
section>.cont_0>.bg>h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
section>.cont_0>.bg>.slide{position:relative; overflow:hidden; margin-left:50px; width:1100px; height:580px;}
section>.cont_0>.bg>.slide>ul{position:absolute; left:0; top:0; width:3300px; height:580px;}
section>.cont_0>.bg>.slide>ul>li{float:left; width:1100px; height:580px;}
section>.cont_0>.bg>.slide>ul>li>h3{float:left; margin-right:50px; color:#283e50; font-size:38px; font-weight:500;}
section>.cont_0>.bg>.slide>ul>li>p{float:left; color:#3b3b3b; font-size:18px; line-height:1.6;}
section>.cont_0>.bg>.slide>ul>li>.img{float:left; margin-top:115px; width:1100px; height:325px; text-indent:-9999px;}
section>.cont_0>.bg>.slide>ul>.name>.img{background-image:url(../images/content_1_name.jpg);}
section>.cont_0>.bg>.slide>ul>.history>.img{background-image:url(../images/content_1_history.jpg);}
section>.cont_0>.bg>.slide>ul>.today>.img{background-image:url(../images/content_1_today.jpg);}
section>.cont_0>.bg>.slide>ul>li>.txt{clear:both; height:30px; line-height:30px; color:#3b3b3b; font-size:15px; text-align:center;}

section>.cont_0>.bg>.prev{display:block; position:absolute; left:-57px; top:50%; margin-top:-23px; width:27px; height:47px; text-indent:-9999px; background-image:url(../images/sprite_ico.png); background-position:-78px 0;}
section>.cont_0>.bg>.prev:hover,section>.cont_0>.bg>.prev:focus{background-position:-41px 0;}
section>.cont_0>.bg>.next{display:block; position:absolute; right:-57px; top:50%; margin-top:-23px; width:27px; height:47px; text-indent:-9999px; background-image:url(../images/sprite_ico.png); background-position:-150px 0;}
section>.cont_0>.bg>.next:hover,section>.cont_0>.bg>.next:focus{background-position:-113px 0;}

/* section - 보이지 않는 색*/
section>.cont_1{background-color:#476b91;}
section>.cont_1>.bg{position:absolute; left:50%; top:50%; margin:-400px 0 0 -600px; width:1200px; height:800px; background-color: #fff;}
section>.cont_1>.bg>h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
section>.cont_1>.bg>h3{margin:0 0 20px 50px; color:#283e50; font-size:38px; font-weight:500;}
section>.cont_1>.bg>p{margin:0 0 20px 50px; color:#3b3b3b; font-size:18px; line-height:1.6;}

section>.cont_1>.bg>.screen{position:absolute; right:50px; top:50px; width:445px; height:485px; text-indent:-9999px; background-image:url(../images/content_2_big_1.jpg);}
section>.cont_1>.bg>.txt{position:absolute; right:50px; top:540px; color:#3b3b3b; font-size:15px;}
section>.cont_1>.bg>ul{margin:175px auto; width:1100px;}

section>.cont_1>.bg>ul>li{overflow:hidden; float:left; margin-left:10px; width:212px; border:1px solid #ededed; box-sizing:border-box;}
section>.cont_1>.bg>ul>li:first-child{margin-left:0; background-image:url(../images/content_2_thumb_1.jpg);}
section>.cont_1>.bg>ul>li:nth-child(2){background-image:url(../images/content_2_thumb_2.jpg);}
section>.cont_1>.bg>ul>li:nth-child(3){background-image:url(../images/content_2_thumb_3.jpg);}
section>.cont_1>.bg>ul>li:nth-child(4){background-image:url(../images/content_2_thumb_4.jpg);}
section>.cont_1>.bg>ul>li:nth-child(5){background-image:url(../images/content_2_thumb_5.jpg);}
section>.cont_1>.bg>ul>li>a{position:relative; display:block; height:140px; text-indent:-9999px; transition:all 0.4s;}
section>.cont_1>.bg>ul>li>a:after{content:''; display:block; position:absolute; left:0; top:0; width:210px; height:140px; background-color:rgba(0,0,0,0.5); opacity:0; transition:all 0.4s;}
section>.cont_1>.bg>ul>li>a:hover:after,section>.cont_1>.bg>ul>li>a:focus:after,section>.cont_1>.bg>ul>li.on>a:after{opacity:0.6;}

/* section - 새로운 색*/
section>.cont_2{background-color:#3e5c77;}
section>.cont_2>.bg{position:absolute; left:50%; top:50%; margin:-400px 0 0 -600px; width:1200px; height:800px; background-color: #fff;}
section>.cont_2>.bg>h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
section>.cont_2>.bg>h3{margin:0 0 20px 50px; color:#283e50; font-size:38px; font-weight:500;}
section>.cont_2>.bg>p{margin:0 0 20px 50px; color:#3b3b3b; font-size:18px; line-height:1.6;}

section>.cont_2>.bg>.frame{position:absolute; right:50px; top:50px; width:550px; height:700px; background-image:url(../images/content_3_bg.jpg); background-repeat:no-repeat; background-position:20px 0;}
section>.cont_2>.bg>.frame>.frame_img{position:relative; top:76px; left:97px; overflow:hidden; width:355px; height:507px; }
section>.cont_2>.bg>.frame>.frame_img>ul{position:absolute; width:1775px; height:507px; }
section>.cont_2>.bg>.frame>.frame_img>ul>li{float:left; width:355px; height:507px;}
section>.cont_2>.bg>.frame>.frame_img>ul>li:nth-child(1){background-image:url(../images/content_3_img_1.jpg);}
section>.cont_2>.bg>.frame>.frame_img>ul>li:nth-child(2){background-image:url(../images/content_3_img_2.jpg);}
section>.cont_2>.bg>.frame>.frame_img>ul>li:nth-child(3){background-image:url(../images/content_3_img_3.jpg);}
section>.cont_2>.bg>.frame>.frame_img>ul>li:nth-child(4){background-image:url(../images/content_3_img_4.jpg);}
section>.cont_2>.bg>.frame>.frame_img>ul>li:nth-child(5){background-image:url(../images/content_3_img_5.jpg);}
section>.cont_2>.bg>.frame>.frame_img>ul>li>a{display:block; width:355px; height:507px; text-indent:-9999px; cursor:default;}
section>.cont_2>.bg>.frame>.txt{position:absolute; bottom:15px; width:550px; color:#3b3b3b; font-size:15px; letter-spacing:-1px; text-align:center;}

section>.cont_2>.bg>.prev{display:block; position:absolute; left:-57px; top:50%; margin-top:-23px; width:27px; height:47px; text-indent:-9999px; background-image:url(../images/sprite_ico.png); background-position:-78px 0;}
section>.cont_2>.bg>.prev:hover,section>.cont_2>.bg>.prev:focus{background-position:-41px 0;}
section>.cont_2>.bg>.next{display:block; position:absolute; right:-57px; top:50%; margin-top:-23px; width:27px; height:47px; text-indent:-9999px; background-image:url(../images/sprite_ico.png); background-position:-150px 0;}
section>.cont_2>.bg>.next:hover,section>.cont_2>.bg>.next:focus{background-position:-113px 0;}

/* section - 경건한 색*/
section>.cont_3{background-color:#335066;}
section>.cont_3>.bg{position:absolute; left:50%; top:50%; margin:-400px 0 0 -600px; width:1200px; height:800px; background-color: #fff;}
section>.cont_3>.bg>h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
section>.cont_3>.bg>h3{margin:0 0 20px 50px; color:#283e50; font-size:38px; font-weight:500;}
section>.cont_3>.bg>p{margin:0 0 20px 50px; color:#3b3b3b; font-size:18px; line-height:1.6;}

section>.cont_3>.bg>.gallery{position:absolute; left:50px; bottom:40px; margin:0 auto; width:1100px;}
section>.cont_3>.bg>.gallery>ul>li{position:relative; float:left; margin-left:22px; width:352px; background-repeat:no-repeat;}
section>.cont_3>.bg>.gallery>ul>li:first-child{margin-left:0; background-image:url(../images/content_4_thumb_1.jpg);}
section>.cont_3>.bg>.gallery>ul>li:nth-child(2){background-image:url(../images/content_4_thumb_2.jpg);}
section>.cont_3>.bg>.gallery>ul>li:nth-child(3){background-image:url(../images/content_4_thumb_3.jpg);}
section>.cont_3>.bg>.gallery>ul>li>a{display:block; height:420px;}
section>.cont_3>.bg>.gallery>ul>li>a>.more{display:block; position:absolute; bottom:40px; right:15px; z-index:100; width:25px; height:23px; text-indent:-9999px; background-image: url(../images/sprite_ico.png); background-position:-188px 0; transition:all 0.3s; opacity:0.6;}
section>.cont_3>.bg>.gallery>ul>li>a:hover>.more{transform:scale(1.1); opacity:1;}                      
section>.cont_3>.bg>.gallery>ul>li>a>.txt{position:absolute; bottom:0; height:30px; width:352px; line-height:30px; color:#3b3b3b; font-size:15px; letter-spacing:-1px; text-align:center;}
/* gall */
.gall{display:none; position:fixed; z-index:300; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5);}
.gall>.gallcontent{position:fixed; left:50%; top:50%; z-index:400; margin:-394px 0 0 -550px; width:1100px; height:800px;}
.gall>.gallcontent>a{display:block; width:1100px; height:800px; text-indent:-9999px;}


/* section - 가장 사랑받는 색*/
section>.cont_4{background-color:#283e4f;}
section>.cont_4>.bg{position:absolute; left:50%; top:50%; margin:-400px 0 0 -600px; width:1200px; height:800px; background-color: #fff;}
section>.cont_4>.bg>h2{margin:50px; font-weight:600; font-size:56px; color:#283e50;}
section>.cont_4>.bg>h3{margin:0 0 20px 50px; color:#283e50; font-size:38px; font-weight:500;}
section>.cont_4>.bg>p{margin:0 0 20px 50px; color:#3b3b3b; font-size:18px; line-height:1.6;}

section>.cont_4>.bg>.screen{position:absolute; right:50px; top:340px; margin:0 auto; width:1100px; height:280px;
                            background-image:url(../images/content_5_big_1.jpg); text-indent:-9999px;}
section>.cont_4>.bg>.txt{position:absolute; right:50px; bottom:135px; color:#3b3b3b; font-size:15px; letter-spacing:-1px;}

section>.cont_4>.bg>.thumb{position:absolute; right:50px; bottom:50px; margin:0 auto; width:1100px;}
section>.cont_4>.bg>.thumb>li{position:relative; float:left; margin-left:20px; width:260px; border:1px solid #ccc; box-sizing:border-box;}
section>.cont_4>.bg>.thumb>li:first-child{margin-left:0; background-image:url(../images/content_5_thumb_1.jpg);}
section>.cont_4>.bg>.thumb>li:nth-child(2){background-image:url(../images/content_5_thumb_2.jpg);}
section>.cont_4>.bg>.thumb>li:nth-child(3){background-image:url(../images/content_5_thumb_3.jpg);}
section>.cont_4>.bg>.thumb>li:nth-child(4){background-image:url(../images/content_5_thumb_4.jpg);}
section>.cont_4>.bg>.thumb>li>a{display:block; height:90px; text-indent:-9999px;}

section>.cont_4>.bg>.thumb>li>a:after{content:''; display:block; position:absolute; left:0; top:0; width:258px; height:90px; background-color:rgba(0,0,0,0.5); opacity:0; transition:all 0.4s;}
section>.cont_4>.bg>.thumb>li>a:hover:after,section>.cont_4>.bg>.thumb>li>a:focus:after,section>.cont_4>.bg>.thumb>li.on>a:after{opacity:0.6;}

/* footer */
footer{width:100%; height:100px; background-color:#3b3b3b;}
footer>address{height:100px; line-height:100px; text-align:center; font-size:15px; color:#fff;}



.current-member-name {
    display: block !important;
    text-align: center !important;
    font-size: 28px !important;    
    font-weight: bold !important;
    color: #000000 !important;     
    margin-top: 20px !important;
    padding-bottom: 30px !important;
    z-index: 999 !important;       
    position: relative !important; 
}


.frame_img ul li a {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
    text-decoration: none !important;
}
.frame_img ul li a img {
    margin-bottom: 10px !important;
}
.frame_img ul li a span {
    display: block !important;
    color: #000000 !important;
    font-size: 14px !important;
    text-align: center !important;
}



.cont_2 .bg {
    display: flex !important;
    flex-direction: row !important;      
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    padding: 0 50px !important;
}


.cont_2 .bg .text-info {
    width: 45% !important;
}


.cont_2 .bg .member-slider {
    width: 50% !important;
}


@media (max-width: 768px) {
    .cont_2 .bg {
        flex-direction: column !important;
    }
    .cont_2 .bg .text-info,
    .cont_2 .bg .member-slider {
        width: 100% !important;
    }
}